html{
  height = 100%;
}

/*We will be styling the body*/

body{
  height = 100%;
  margin: 0;
  font-family: "Italianno", cursive; 
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #FFFDFA;
  font-size: 45px;
}
/*Using a (#) because the name is an id
(.) is when you want to refer to a class*/
#main-holder{
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center; /*Is the center of the screen*/
  align-items: center;
    
}

/*Progress Bar*/
/*Styling the progress bar*/
.Section{
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px; /*50px*/
}
/*# because the id is for ProgressBar*/
#ProgressBar{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}
/*The number step the user is on*/
.step{
  text-align: center;
}
.text{
  margin-bottom: 10px;
  /*word-spacing: 1400px;*/
  color: #0011ff;
}
/*The look of the step which is the circular button*/
.bullets{
  border: 1px solid #0011ff;
  height: 20px;
  width: 20px;
  border-radius: 100%; /*border around step*/
  color: #0011ff;
  display: inline-block;
  position: relative;
  transition: background-color 500ms;
  line-height: 20px; /*Height of numbers within the circle*/
}
/*Look of the step when it is completed, it will be filled in with blue as the background color*/
.bullets.completed{
  color: white;
  background-color: #0011ff;
}
/*The compeleted color of the button after they pass this step*/
.bullets.completed::after{
  content: "";
  position: absolute;
  right: -105px; /*-105*/
  bottom: 10px;
  height: 5px;
  width: 105px; /**105 colors button*/
  background-color: #0011ff;
}



/*Create the dimensions of the box around it, being the holder*/
#login-error-msg-holder{
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

/*Now we style the color of the error message*/

#login-error-msg{
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line{
  display: block;
}
#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}
/*login button style*/
#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 25px;
  background-color: #39918B;
}
#signup-form-submit{
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 25px;
  background-color: #39918B;
}