/*Styling the progress bar*/
.Section{
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px; /*50px*/
}
/*# because the id is for ProgressBar*/
#ProgressBar{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.step{
  text-align: center;
}
.text{
  margin-bottom: 10px;
  /*word-spacing: 1400px;*/
  color: #0011ff;
}
.bullets{
  border: 1px solid #0011ff;
  height: 20px;
  width: 20px;
  border-radius: 100%; /*border around step*/
  color: #0011ff;
  display: inline-block;
  position: relative;
  transition: background-color 500ms;
  line-height: 20px; /*Height of numbers within the circle*/
}

.bullets.completed{
  color: white;
  background-color: #0011ff;
}

.bullets.completed::after{
  content: "";
  position: absolute;
  right: -105px; /*-105*/
  bottom: 10px;
  height: 5px;
  width: 105px; /**105 colors button*/
  background-color: #0011ff;
}